 .navbar {
    display: flex;
    justify-content: center;
    text-align: center; 
 
    color: white;
  } 

 

  .container{
    display: flex;
    justify-content: center;

  }

 .container input.form-control{
  width: 38vw;
  height: 6vh;
  border: none;
  border-radius: 3px;
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-left: 3vw;
  background-color: #eee;
 }